@page "/"

<PageTitle>Home</PageTitle>

<h1>Oliwia Łukasik nr. indeksu 119784</h1>

Projekt Blazor - Garden TO DO
<style>
    .sidebar {
        background-image: linear-gradient(180deg, #027013, #93d080 70%) !important;
    }
</style>